# Operating System Files
.DS_Store
Thumbs.db

# Tableau Temporary Files
*.tmp
*.temp

# Tableau Auto Recovery Files
*.twbr

# Log Files
*.log

# Python Cache (if used)
pycache/
*.pyc

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# Environment Files
.env
